* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background: #101010;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: lighter;
    color: coral;
    flex-shrink: 0;      /* prevent heading from being squashed */
}

h1 span {
    color: white;
    font-size: 0.3em;
}

#topnav {
    position: absolute;
    top:0;
    right: 0;
}

#sketch-box{
    /* background-color: blueviolet; */
    flex: 1;
    width: 100%;
    display: block;
    border: none;
    position: relative;
}

.overlay {
    z-index: 2;
    position: absolute;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    /* visibility: collapse; */
}

.overlay div {
    opacity: 0.75;
    background-color: #10101070;
}

#showblurb {
    user-select: none;
}
#blurb{
    user-select: none;
    font-size: 1.4em;
    font-weight: lighter;
}
/* #blurb p+p{ */
#blurb p{
    margin-top: 20px;  /*space between paragraphs within blurb */
}
#blurb a {
    color: white;
}
#closeblurb {
    position: absolute;
    right: 0;
    top: 0;
}