* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background: #101010;
    /* font-size: 16px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: lighter;
    color: coral;
    flex-shrink: 0;      /* prevent heading from being squashed */
}

h1 span {
    color: white;
    font-size: 0.3em;
}

#topbar {
    position: relative;
}

#topnav {
    user-select: none;
    position: absolute;
    color: bisque;
    bottom:0;
    right: 2%;
}

#controlbar {
    display: none;
}

#sketch-box{
    /* background-color: blueviolet; */
    flex: 1;
    width: 100%;
    display: block;
    border: none;
    position: relative;
}

.overlay {
    z-index: 2;
    position: absolute;
}

@media (orientation: landscape) {
    .overlay {
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1%;
    }
}

@media (orientation: portrait) {
    .overlay {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 1%;
    }
}


.overlay div {
    opacity: 1;
    background-color: #101010B2;
}

#showblurb {
    user-select: none;
}
#blurb{
    user-select: none;
    /* font-size: 1.2em; */
    /* font-size: 2em; */
    /* font-weight: lighter; */
    display: none;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
#blurbtext {
    padding-left: 20px;
    padding-top: 20px;
}
#blurb p+p{
/* #blurb p{ */
    margin-top: 20px;  /*space between paragraphs within blurb */
}
#blurb a {
    color: bisque;
}
#blurbclose {
    position: absolute;
    /* pointer-events: none; */
    left: 0;
    top: 0;
}